footer{
    background-color: #D9D9D9;
    height: 20vh;
}

@media (max-width: 999) {
    footer{
        height: auto;
    }
}

footer p{
    position: absolute;
    text-align: center;
    margin-left: 1vh;
    color: black;

}