@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Configurando tela de login */
.login-container{
    background-image: url('../img/Rectangle\ 8\ \(2\).png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

.text-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}

.text-login h1{
    margin-top: 0px !important;
    padding: 100px 0 0 0;
    font-size: 3rem;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo-login{
    background-image: url('/img/ocean-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 500px;    
    height: 500px;

    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;

    display: flex;
    justify-content: center;
    position: relative;
    color: #FFF;
}

.conteudo-login p{
    z-index: 1;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 500px;    
    height: 500px;
    gap: 25px;

    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.usuario-login, .senha-login{   
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    padding: 10px 0 10px 25px;
}

/* Configurando Placeholder dos inputs da tela de login */
::-webkit-input-placeholder {
    color: rgb(139, 139, 139);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: rgb(139, 139, 139);  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(139, 139, 139);  
 }
 
 :-ms-input-placeholder {  
    color: rgb(139, 139, 139);  
 }