nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 15px 0;
}

/* Configurações do menu responsivo */
.menu-mobile{
    cursor: pointer;
    display: none;
}

.menu-mobile div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }

    .mobile{
        display: flex;
        justify-content: space-around;
        width: 100vw;
        align-items: center;
    }

    .items-nav{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: #3CC5D6;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .menu-mobile{
        display: block;
    }
}

ul.active{
    transform: translateX(0%);
}

.nav-scroll-bg{
    background: #3CC5D6;
    transition: 0.3s;
}

.logo img{
    width: 70px;
}

.items-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
}

.items-nav li{
    margin-right: 10px;
}

.items-nav li:last-child{
    margin-right: 0;
}

.items-nav a{
    text-decoration: none;
    color: #FFF;
    white-space: nowrap;
    padding: 10px 20px;
    position: relative;
}

.items-nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 1px;
    background-color: #FFF;
    transition: width 0.2s ease-in-out;
    transform-origin: bottom;
}

.items-nav a:hover::after{
    width: 100%;
}