#navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #73D5E1;
    padding: 1vw;
    margin: 0;
    border: none;
    width: 100vw;
} 

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 3vw;
    overflow: hidden;
    display: flex;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav-home{
    background-color: #3CC5D6;
    border-radius: 5%;
}
#nav-inscricao{
    background-color: #11111F;
    border-radius: 5%;
}
#navbar img{
    width: 6vh;
}