@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    display: flex;
    justify-center: center;
    align-items: center;
    flex-direction: column;
}

/* Configurações CSS Home */
.home{
    width: 100%;
    height: 100vh;
    background-image: url('../img/img2-quem-somos.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-conteudo{
    padding: 100px;
}

.home-conteudo h1{
    font-size: 100px;
}

.home-conteudo p{
    font-size: 20px;
}

.home-conteudo p, h1 {
    color: #FFF;
}

/* Configurações CSS Sobre */
.sobre{
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background-color: #DBDBDB;
}

.sobre div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-text: center;

    border-radius: 50%;
    min-width: 250px;
    min-height: 250px;
    color: #FFF;

    padding: 15px;
}

.quem-somos{
    background: rgba(0,0,0,0.5) url('../img/Ellipse9.png');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.missao{
    background: url('../img/Ellipse10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gente{
    background: url('../img/Ellipse11.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Configurações CSS Depoimentos */
.depoimentos{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.depoimentos h1{
    padding: 0;
    margin: 0;
    margin-bottom: 5vh;
}
#depoimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    height: auto;
}
#depoimentos div{
    padding: 0;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 30vw;
    height: 40vh;
}

#depoimentos div div{
    background-color: #E3E3E3;
    padding: 0;
    margin: 0;
    height: 45vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5%;
}
#depoimentos div h4,.paragrafo{
    margin: 0;
    padding: 0;
    color: black;
    width: 30vw;
}
.ocean{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('../img/Rectangle\ 8.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;    
    height: 100vh;
    color: white;
}
.ocean h1{
    font-size: 10vh;
}
.ocean p{
    background-color: rgba(133, 133, 133, 0.7);
    width: 100%;
}
.ocean button{
    height: 6vh;
    border-radius: 15%;
    background-color: #11111F;
    color: white;
}
.ocean button:active {
    transform: scale(0.9);
}
.login{
    background-image: url('../img/Rectangle\ 8\ \(2\).png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;

}
.login div, #inscricao div{
    width: 25%;
    height: 60%;
    background-color: rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(2px);
    border-radius: 5%;

}
.login div form, #inscricao form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.login div form input, #lembrar, #registro{
    width: 85%;
    height: 4vh;
    border-radius: 1vh;
    margin: 1vh;
    border: 1px;
    border-color: #11111F;
    color: white;
    background: transparent;
    border: 1px solid white; 
}
#lembrar, #registro{
    display: flex;
    backdrop-filter: none;
    border: none;
    padding-bottom: 5vh;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    

}
#manterConectado{
    width: 5%;
    margin-left: 50%;
    margin: 1vh;
}
#login{
    color: black;
    align-items: center;
    width: 70%;
    background-color: #D9D9D9;
    display: block;
    margin: 0 auto;
}
#registro{
    font-size: 2vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
#registro p, #registro a{
    min-width: 30%;
    margin: 0;
    padding: 0;
}
#registro a, #inscricao #logar a{
    color: #73D5E1;
}
#inscricao{
    background: url('../img/Rectangle\ 8\ \(3\).png');
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
#inscricao form input{
    height: 4vh;
    border-radius: 1vh;
    margin: 1vh;
    border: 1px;
    border-color: #11111F;
    color: white;
    background: transparent;
    border: 1px solid white; 

}
#inscricao #logar{
    width: 100%;
    display:flex ;
    font-size: 2vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: transparent;
}
#inscricao #logar p, #inscricao #logar a{
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}
#contato{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contato form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 60%;
    background-color: #3CC5D6;
    border-radius: 5%;

}
#contato form input{
    height: 4vh;
}
#contato form textarea{
    height: 8vh;
}
#contato form textarea, #contato form input{
    border-radius: 1vh;
    margin: 1vh;
    border: 1px;
    border-color: #11111F;
    color: #D9D9D9;
    background: transparent;
    border: 1px solid white; 
}
#recursos{
    background: url('../img/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#recursos div{
    height: 50%;
    padding-left: 2vw;
    background-color: rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(2px);
    font-size: 2vw;
    color: white;
}
#noticias{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#noticias h1, #noticias p{
    color: #11111F;
}
::placeholder{
    color: white;
}