@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    border: none;
}
section{
    width: 100%;
    margin: 0;
    border: 0;
}
.slide{
    margin: 0;
    padding: 0;
    border: none;
    background-image: url('../img/img2-quem-somos.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.slide h1{
    margin: 0;
    padding: 0;
    padding-top: 20vh;
    padding-left: 10vw;
    width: 60vw;
    font-size: 12vh;
}
.slide p{
    padding-left: 10vw;
}
.slide h1,p{
    color: white;
    width: 60vw;
}

.sobre{
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sobre div{
    max-width: 33vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1vw;
    margin: 0;
}
.sobre div h1{
    color: white;
    font-size: 2vw;
}
.sobre div p{
    color: white;
    font-size: 1.5vw;
    max-width: 30vw;
    position: center;
}
#sobre_id{
    background-image: url('../img/Ellipse\ 9.png');
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position: center;
    
}
#missao{
    background-image: url('../img/Ellipse\ 10.png');
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position: center;
}
#gente{
    background-image: url('../img/Ellipse\ 11.png');
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position: center;
}
#sobre_id, #missao, #gente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.depoimentos{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
.depoimentos h1{
    padding: 0;
    margin: 0;
    margin-bottom: 5vh;
}
#depoimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    height: auto;
}
#depoimentos div{
    padding: 0;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 30vw;
    height: 40vh;
}

#depoimentos div div{
    background-color: #E3E3E3;
    padding: 0;
    margin: 0;
    height: 45vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5%;
}
#depoimentos div h4,.paragrafo{
    margin: 0;
    padding: 0;
    color: black;
    width: 30vw;
}
.ocean{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('../img/Rectangle\ 8.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;    
    height: 100vh;
    color: white;
}
.ocean h1{
    font-size: 10vh;
}
.ocean p{
    background-color: rgba(133, 133, 133, 0.7);
    width: 100%;
}
.ocean button{
    height: 6vh;
    border-radius: 15%;
    background-color: #11111F;
    color: white;
}
.ocean button:active {
    transform: scale(0.9);
}
.login{
    background-image: url('../img/Rectangle\ 8\ \(2\).png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;

}
.login div{
    width: 25%;
    height: 60%;
    background-color: rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(2px);
    border-radius: 5%;

}
.login div form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.login div form input, #lembrar, #registro{
    width: 85%;
    height: 4vh;
    border-radius: 1vh;
    margin: 1vh;
    border: 1px;
    border-color: #11111F;
    color: white;
    background: transparent;
    border: 1px solid white; 
}
#lembrar, #registro{
    display: flex;
    backdrop-filter: none;
    border: none;
    padding-bottom: 5vh;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    

}

#manterConectado{
    width: 5%;
    margin-left: 50%;
    margin: 1vh;
}
#login{
    color: black;
    align-items: center;
    width: 70%;
    background-color: white;
    display: block;
    margin: 0 auto;
}
#registro{
    font-size: 2vh;
    flex-direction: row;
    align-items: start;
    text-align: center;
    justify-content: center;
    
}
#registro p, #registro a{
    min-width: 30%;
    margin: 0;
    padding: 0;
}
#registro a{
    color: #73D5E1;
}
